<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.demo_grideview_scoreview">

    <!-- 下面是ZXing扫码的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这里是用户的一般权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 下面的是sharesdk的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 上面是sharesdk的配置 -->


    <!-- 这里的是普通的用户权限 -->
    <!--  在SDCard中创建与删除文件权限  -->
      
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
      
    <!--  往SDCard写入数据权限  -->
      
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      

    <!-- 上面是ZXing扫码的权限 -->
    <application
        android:name=".mApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 文本间距测试 -->
        <activity android:name=".UiActivity.TextViewTestActivity" />
        <!-- 主界面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 扫码的界面 -->
        <activity android:name=".UiActivity.ScannerActivity" />
        <!-- 本地段音频的播放 -->
        <activity android:name=".UiActivity.AudioActivity" />
        <!-- 下拉列表 -->
        <activity android:name=".UiActivity.SpinnerActivity" />
        <!-- 自定义的对话框 -->
        <activity android:name=".UiActivity.DialogActivity" />
        <!-- 网络视频播放的测试 定义屏幕可以切换 -->
        <activity
            android:name=".UiActivity.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait" />
        <!-- 下拉加载更多的测试 -->
        <activity android:name=".UiActivity.PullToRefreshActivity" />
        <!-- 多个fragment条目切换的测试 -->
        <activity android:name=".UiActivity.FragmentChangeActivity" />
        <!-- 圆形头像加载的测试 -->
        <activity android:name=".UiActivity.PicassoActivity" />
        <!-- recyclerview的测试 -->
        <activity android:name=".UiActivity.RecyclerviewActivity" />

        <!-- 高级webview -->
        <activity android:name=".UiActivity.AdvanceWebViewActivity" />
        <!-- cardview的展示 -->
        <activity android:name=".UiActivity.CardViewActivity" />
        <!-- 本地布局文件的存储和本地读取的演示 -->
        <activity android:name=".UiActivity.CopyAndSavePictureActivity" />
        <!-- Activity的切换动画 -->
        <activity android:name=".UiActivity.Animatio4nActivity" />
        <activity android:name=".UiActivity.ActivityAnimation" />
        <activity android:name=".UiActivity.ActivityAnimation2" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- android:screenOrientation="portrait"防止屏幕的切换重走生命周期，直接的写死屏幕的方向 -->
        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".UiActivity.ShareSDkActivity" />
        <activity
            android:name=".UiActivity.ConfigurationChangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".UiActivity.CammerTailorActivity" />
        <activity android:name=".UiActivity.EditTextActivity" />
        <activity android:name=".UiActivity.ShoppingCartActivity" />

        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="0289bde7c6a0c2431d2e30e4a0e53fe0" /> -->

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".UiActivity.DeviceMessageShowActivity"></activity>
    </application>

</manifest>